{% extends "layout.html" %}
{% block body %}

<section>
    <h1>Battle a robot</h1>

    <div class="half">
        <h2>Choose your defender</h2>
        <p id="robot_error" class="error hidden">You do not have any valid robots to fight with.</p>
        {% if arsenal_count == 0 %}
            <p class="info">You don't have any robots yet :(</p>   
        {% else %}
            <ul class="robot_list" id="arsenal">
            {% for robot in arsenal %}
                <li data-status="{{ robot['status'] }}" data-id="{{ robot['robot_id'] }}">
                    <p class="title">{{ robot['robot_name'] }}</p>
                    {% if robot['status'] == 0 %}
                        <p class="status untested">Not yet tested</p>
                        <div class="alert"></div>
                    {% elif robot['status'] == 1 %}
                        <p class="status passed">Test passed</p>
                    {% elif robot['status'] == -1 %}
                        <p class="status failed">Test failed: invalid robot</p>
                        <div class="alert">
                    {% endif %}

                </li>
            {% endfor %}
            </ul>
        {% endif %}


    </div>

    <div class="half">
        <h2>Robots available to fight</h2>
        {% if robot_count == 0 %}
            <p class="info">No robots available to fight :(</p>   
        {% else %}
            <ul class="robot_list">
            {% for robot in robots %}
                <li>
                    <p class="title">{{ robot['robot_name'] }}</p>
                    <p class="username"><a href="/arsenal/{{ robot['username'] }}">{{ robot['username'] }}</a></p>
                    <button data-id="{{ robot['robot_id'] }}" class="begin_battle battle">fight this robot</button>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="clear"></div>
 
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function(){
        var found = false;
        $("#arsenal li").each(function(){
            if($(this).attr("data-status") == 1){
                if(found == false){
                    $(this).addClass("selected");
                    found = true;
                }
            }    
        });
        if(found == false){
            $("#robot_error").removeClass("hidden");
            $(".battle").addClass("hidden");
        }
        $("#arsenal li").click(function(){
            if($(this).attr("data-status") == 1){
                $("#arsenal li").removeClass("selected");
                $(this).addClass("selected");
            }
        });
        $(".begin_battle").click(function(event){
            event.stopImmediatePropagation();
            var selected_robot = $("#arsenal li.selected").attr("data-id");
            if(selected_robot == null){
                return;
            }
            var opponent = $(this).attr("data-id");
            window.location = "/battle?id1="+selected_robot+"&id2="+opponent;            
        });
    });
</script>
{% endblock %}

